[tool.black]
line-length = 88
target-version = ['py311']

[tool.ruff]
line-length = 88
select = ["E", "F", "W", "C90", "B", "B9"]
ignore = ["E203", "W503"]

[tool.isort]
profile = "black"
line_length = 88
