name: pre-commit
on:
  push:
    branches: [ main, 'v*', 'feature/*', 'release/*' ]
  pull_request:
    branches: [ main ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install pre-commit
        run: python -m pip install --upgrade pip pre-commit
      - name: Run pre-commit
        uses: pre-commit/action@v4.3.0
        with:
          extra_args: --all-files
